body {
    background: black;
    overflow-x:hidden;
    overflow-y:hidden;
    white-space: nowrap;
}
div#container {
    position: static;
    width: 100%;
    height: 100%;
    margin: auto;
}
div {
    color:white;
    width: 33.33%;
    height: 10%;
    position: absolute;
}
div#github {
    top: 0;
    left: 0;
    cursor: pointer;
    font-size:2.2rem;
    font-family: 'Origami Mommy', sans-serif;
}
div#blog {
    top: 0;
    right: 0;
    text-align:right;
    cursor: pointer;
    font-size:2.2rem;
    font-family: 'Origami Mommy', sans-serif;
}
div#email {
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    font-size:2.2rem;
    font-family: 'Origami Mommy', sans-serif;
}
div#nyan {
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-size:2.2rem;
    font-family: 'Origami Mommy', sans-serif;
}

div#credits{
    margin:auto;
    display: flex;
    top:90%;
    text-align:center;
    right:33.33%;
    text-align:center;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    cursor: pointer;
    color:white;
    font-size:1rem;
    font-family: 'Nokia Cellphone FC', sans-serif;
}

div#hello{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom:0;
    right:0;
    text-align:center;
    cursor: pointer;
    color:white;
    font-size:2.5rem;
    text-shadow: aqua 4px 0px 0px, red -4px 0px 0px;
    padding-left:4px;
    font-family: 'Phatone', sans-serif;
}

div#cat{
    position: absolute;
    left: -40%;
    bottom:50%;
}

.nyan-cat {
animation: cssAnimation 4s linear;
}

@-webkit-keyframes cssAnimation {
from {
left: -40%;
}
to {
left: 140%;
}
}


